body{
	background-color: #FE2E2E;
	color: white;
	font-family: 'Helvetica Neue';
}

.swag {
	font-family: 'Miss Fajardose';
	font-size: 64px;
}

h1.title {
	font-family: 'Miss Fajardose';
	font-size: 72px;
	color: white;
}

.descripcion {
	
	width: 75%;
	margin: 0 auto;

}

.white {
	color: white;
}

.flag {
	width: 75%;
}

.margin_center {
	margin: 0 auto;
	text-align: center;
}

.center {
	text-align: center;
}

#mutear {
	position: absolute;
	top: 5px;
	right: 5px;
}